# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model (optional — bisa di-commit jika repo publik)
# res10_300x300_ssd_iter_140000.caffemodel
